* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../../public/img/background.webp');
    background-position: center;
    font-family: Montserrat;
    min-height: 100vh;
}

.navbar {
  background-color: #008f31;
  padding: 10px 20px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.navbar a {
    color: white;
    font-size: clamp(14px, 2vw, 30px);
    margin-right: 20px;
    text-decoration: none;
}

.navbar a:hover {
    color: #2f2f2f;
}


h1 {
    font-size: clamp(24px, 5vw, 40px);
}

h2 {
    font-family: "Alex brush";
    color: #008f31;
    font-size: clamp(20px, 3vw, 35px);
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 500px;           
    margin: 0 auto;          
    padding: 20px;
    gap: 10px;
}

label {
    font-size: clamp(20px, 5vw, 40px);
}

input {
    border-radius: 5px;
    border: solid 2px;
    border-color:#008f31;
    background-color: #ffffff;
    padding: 10px;
}

button {
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: #008f31;
    color: #ffffff;
}

button:hover {
    background-color: #90bb47;
    color: #2f2f2f;
    font-weight: bold;
}