.home_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.sections_union {
    display: flex;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e0dede;
    height: 150px;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;
}

.imagen_cocineros {
    width: 900px;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}

.footer {
    background-color: #008f31;
    color: #ffffff;
    padding: 15px;
}