body {
    background-image: url('../../public/background.webp');
}

.navbar {
  background-color: #008f31;
  padding: 10px 20px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.navbar a {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    margin-right: 20px;
    text-decoration: none;
}

.navbar a:hover {
  font-weight: bold;
}