.register_container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    height: 90vh;
    width: 90%;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    color: #2f2f2f;
    border-radius: 50px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.titulo_registro {
    font-family: "Alex Brush", cursive;
    font-size: 110px;
    color: #6da34d;
    margin: 0 auto 20px;
}

.form_container {
    width: 60%;
    display: flex;
    justify-content: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 15px;
    font-size: 18px;
}

.register-form label {
    font-weight: 600;
}

.register-form input,
.register-form select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.2s ease-in-out;
}

.register-form input:focus,
.register-form select:focus {
    border-color: #6da34d;
    box-shadow: 0 0 5px rgba(109, 163, 77, 0.5);
}

button {
    margin-top: 20px;
    align-self: center;
}
